#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --primary-color: #feeafa;
  --secondary-color: #cbc0d3;
  --text-color: #070707;
  --background-color: #f6f9fe;

  /* Border */
  --border-radius: 0.5rem;

  /* Misc */
  --transition-delay: 0.2s;
}

html {
  font-size: 112.5%;
}

body {
  margin: 0;
  background: var(--background-color);
  color: var(--text-color);
}
.hero {
  display: grid;
  place-items: center;
}

.hero__img {
  height: 30vh;
}

.input {
  border-radius: 0.6em;
  font-size: 0.8em;
  border-width: 0.001em;
  padding: 0.5em 2em;
  border-color: #bdbec4;
}
.input::placeholder {
  color: #9a8c98;
}

.results {
  margin: 3em;
  display: grid;
  row-gap: 3em;
}

input:focus {
  outline: 0;
}
.footer {
  padding: 5em 8em;
}
a {
  text-decoration: none;
  color: #9a8c98;
}
a:hover {
  color: var(--secondary-color);
  cursor: pointer;
}
