*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --primary-color: #feeafa;
  --secondary-color: #cbc0d3;
  --text-color: #070707;
  --background-color: #f6f9fe;
  --border-color: #bdbec4;
}
